* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 90vh;
  width: 50vw;
  background-color: black;
  margin: 5vh auto;
}

@keyframes computerMovement {
  from {
    margin-left: 0vw;
  }
  to {
    margin-left: 45vw;
  }
}
.computer {
  height: 2.5vh;
  width: 5vw;
  background-color: white;
  border: 1px solid;
  animation: computerMovement 2s linear infinite alternate;
}

.me {
  height: 2.5vh;
  width: 5vw;
  background-color: white;
  border: 1px solid;
  margin-top: 85vh;
}
